.col_container {
    display: flex;
}

.col_container > .col {
    flex-grow: 1;
    flex-basis: 0;
}

.use_box_shadow {
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    box-shadow: -5px 5px 20px 0 rgba(0,0,0,0.5);
}

.border_box_block {
    border: 1px solid gray;
    padding: 1em;
    position: relative;
    border-radius: 1em;
}

.border_box_block > .block_header {
    position: absolute;
    top: -0.7em;
    left: 1em;
    background-color: inherit;
    padding: 0 0.5em;
}

.buttons {
    margin-top: 2em;
}

input.form-control {
    /* 3em: max number === 100; 43px: Space for feedback from bootstrap */
    min-width: calc(3em + 43px);
}

.checkbox_container {
    display: flex;
    flex-direction: column;
}

.general_settings > .object_container > .value{
    flex-grow: 1;
}