.activity_rows,
.time_of_travel_qualities {
    display: flex;
    flex-wrap: wrap;
}

.activity_rows > * {
    flex-basis: 0;
    flex-grow: 1;
    background-color: white;
}

.time_of_travel_qualities > * {
    max-width: 13em;
}

.tab-content {
    margin: 1em;
}

.airport_buttons {
    padding: 1em;
}